<img id="roadImg" src="images/windingroad.jpg" />
<p>We can offer you:</p>
<ul>
    <li>Speciality Coffee and Tea</li>
    <li>Bagels, Muffins, and Organic Snacks</li>
    <li>Music and Poertry Readings</li>
    <li>Open Mic Night</li>
</ul>
<p>We live at: </p>
<ul>
    <li>Mountain Home, CA 93923</li>
    <li>1-888-555-5555</li>
    <li>12312 Main Street</li>
</ul>